.inputTask-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  width: 90%;
}

.inputTask-input,
.inputTask-input:focus {
  background: transparent;
  border: none;
  border-bottom: 2px solid var(--color-accent);
  color: var(--color-text);
  outline: none;
  font-size: 1.5em;
  padding: 0.5em;
  max-width: 80%;
}

.inputTask-icon {
  cursor: pointer;
}
