.task {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 1em;
  align-items: start;
  width: 90%;
  border-radius: 6px;
  padding: 0.5em;
  background-color: var(--color-secondary);
  box-shadow: 0px 1px 1.5px hsl(var(--shadow-color) / 0),
  0px 4px 6px hsl(var(--shadow-color) / 0.52);
}

.task-title {
  margin: 0;
  padding: 0;
  font-size: 1em;
}

.line-through {
  text-decoration: line-through;
}

.task-controllers {
  display: flex;
  gap: 0.5em;
}

.task-button {
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.task-status {
  text-align: center;
  width: 100%;
  padding: 0.3em;
  border-radius: 6px;
  cursor: pointer;
}

.statusComplete {
  background-color: #cbdf90;
  color: var(--color-text);
}

.statusIncomplete {
  background-color: #fca17d;
  color: var(--color-text);
}
