.inputEditTask-form {
  max-width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  border-radius: 6px 6px 0 0;
  background-color: var(--color-secondary);
  box-shadow: 0px 1px 1.5px hsl(var(--shadow-color) / 0),
  0px 4px 6px hsl(var(--shadow-color) / 0.52);
}

.inputEditTask-input {
  background: transparent;
  border: none;
  border-bottom: 2px solid var(--color-accent);
  outline: none;
  color: var(--color-text);
  font-size: 1.2em;
  padding: 0.5em;
  max-width: 100%;
}

.inputEditTask-icon {
  cursor: pointer;
  padding: 0.5em;
}
