.main {
  max-width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(3, 1fr) 70%;
  justify-content: center;
  justify-items: center;
  align-items: start;
}