:root {
  font-family: 'Noto Sans KR', sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-text: #1d111d;
  --color-bg: #f5eff6;
  --color-accent: #79b4b0;
  --color-secondary: #fdfcfd;
  --shadow-color: 292deg 9% 60%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  max-height: 100vh;
  background-color: var(--color-bg);
  color: var(--color-text);
}
